@charset "utf-8";
@import url('https://use.typekit.net/ijf1bim.css');
/* CSS Document */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
	display: flex;
	flex-direction: column;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("Images/background.jpg"); 
    background-size: cover;
    background-position: center;
 
}

h1, li, a, button, nav {
	font-family: "futura-pt-bold", san-serif;
	font-weight: 200;
	font-size: 30px;
	font-style: italic;
	color: white;
	padding: 0px 10px;
}
.center-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* 100% of viewport height to make it cover the entire screen */
}
 h1{
  font-size: 300px;
 }
header {
	display : flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
}

.logo {
	cursor: pointer;
	width: 200px;
	padding-left: 0px;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px; 
}

.nav_links li a {
	transition: all 0.3s ease 0s;
	text-decoration: none;
}

.nav_links li a:hover {
	color: white;
}

button {
	padding: 9px 25px;
	background-color: red;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover{
	background-color: background-color: rgba(0,136,169,1);
}
.background-box {
    width: 100px; /* Adjust the width of the background box as needed */
    height: 100px; /* Adjust the height of the background box as needed */
    background-image: url('/Images/Too_Bored_Master_File.jpg'); /* Add the background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.container {
	height: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20%; /* Add padding-top to create space for the main box */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
}
.main-box {
    /*border: 1px solid #000; Adjust the border thickness and color as desired */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 10px;
	/*top: 50%;
	left: 50%;
	transform: skew(-20deg); */
	/*width: 100%;  Increase the width of the main box
    height: 60%; /* Increase the height of the main box */
	width: var(--main-box-width); /* Set the width using CSS custom property */
    height: 200px; /* Set the height using CSS custom property */
	
}

/* Add padding-top instead of margin-top to move the main box down */
body {
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
	height: 100vh;
	widows: 100vh;
}


.small-box {
	position: relative;
    background-color: transparent;
    width: 100%;
    background-size: cover;
    background-position: center;
	transition: transform 0.3s ease;
}

.box-image {
  width: 100%;
  height: 50%;
  transition: opacity 0.3s ease; 
}

.trans {
	position: absolute;
	display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 0.3s ease;
}


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.big-box {
  display: flex;
  align-items: stretch;
  border: 2px solid #000; /* Adjust the border thickness and color as desired */
  background-color: transparent; /* Adjust the background color as desired */
  padding: 20px;
}

.image-container {
  flex: 1;
  padding-right: 20px; /* Add some spacing between the image and text */
}

.image-container img {
  max-width: 100%;
  height: auto; /* Maintain the aspect ratio of the image */
}

.text-container {
  flex: 1;
}

.text-container h1 {
	font-size: 24px;
	margin: 0 0 10px; /* Add some spacing between title and description */

}

.text-container p {
  font-size: 16px; /* Adjust the font size as desired */
  line-height: 1.6; /* Adjust the line height as desired */
}

.centered-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* Add a white background to the centered box */
  padding: 20px;
	width: 800px;
	height: 50px;
	text-align: center;
	border: solid black;
	font-family: "futura-pt-bold", san-serif;
	font-weight: 600;
	font-size: 40px;
	font-style: italic;
	color: white;
	padding: 10px 10px;
	
}
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.small-box:hover {
 transform: scale(1.50);
 z-index: 2;

}


.small-box .box-image {
 /* opacity: 1; /* Initially set the opacity to show the box-image */
/*  transition: opacity 0.3s ease;*/
}

.small-box:hover .box-image {
 opacity: 0;
}

.small-box .trans {
  opacity: 1;
  position: absolute;
}

.small-box:hover .trans {
  display: block; /* Display the "trans" image on hover */
}


.contact-box {
	/*padding: 35%;*/
	padding-top: 10%;
	text-align: center;
	color: white;
	background-color: transparent;
	font-family: "futura-pt-bold", san-serif;
	font-weight: 600;
	font-size: 20px;
	font-style: italic;
	color: black;
	
}
@media (max-width: 767px) {
    /* Override styles for mobile devices */

    /* Header */
    .logo {
        width: 80px; /* Adjust the logo width */
    }

    /* Navigation links */
    .nav_links {
        display: none; /* Hide navigation links on mobile */
    }

    /* Button */
    button {
        padding: 6px 20px;
    }

    /* Container */
    .container {
        padding: 10px;
    }

    /* Main box */
    .main-box {
        padding: 10%;
		display: table;
    }

    /* Small boxes */
    .small-box {
        width: calc(50% - 10px); /* Display two columns on mobile */
		margin: 0px;
    }
	li, a, button, nav, h1, p {
	font-family: "futura-pt-bold", san-serif;
	font-weight: 600;
	font-size: 10px;
	font-style: italic;
	color: white;
	padding: 0px 10px;
}
}
